

ul.menu {
list-style: none;
overflow: hidden;
font-size: 25px;
background-color: #008080;
padding: 0;
margin: 0;
}

ul.menu li a{
float: left;
margin: 20px 50px 10px 220px;
color: #FF7F50;
text-decoration: none;
}

.content {
	width: 800px;
	margin: 0 auto;
	padding: 20px 20px 0 20px;
	min-height: 100vh;
	background-color: #fff;
}

.all {
background-color: gray;
min-height: 100vh;
}
.from-login {
margin: 50px 600px 0 400px;
border-style: solid;
border: 3px;
border-radius: 25px;
padding: 30px;
position: relative;
}

.form-login label {
display: inline-block;
min-width: 100px;
}

.form-login .invalid {
position: absolute;
display: inline-block;

}

.form-login .invalid-feedback {
position: absolute;
top: 3px;
left: 30px;
color: #8B0000;
background: #FFA07A;
padding: 2px;
}

.msg.success {
color: #008000;
background: #98FB98;
position: absolute;
top: 3px;
left: 30px
}

.msg.error {
color: #8B0000;
background: #FFA07A;
position: absolute;
top: 3px;
left: 30px
}